<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeldan.repository.mybatis.PrivilegeMapper">
    <select id="selectPrivilegeById" resultType="com.zeldan.model.Privilege">
        select * from privilege where id = #{id}
    </select>
</mapper>